/*Style untuk bar navigasi*/
#logo{
	margin-right: 10px;
}
#nav-title{
	font-family: 'Pacifico', cursive;	
}
/*Style untuk bagian info utama*/
.section h1{
	font-family: 'Indie Flower', cursive;
}
.section img{
	border-radius: 10px;
	margin-bottom: 10px;
	width: 35%;
	height: 35%;
	float: right;
}
.nobody{
	height: 55px;
}
/*Style untuk bagian keahlian*/
#title_keahlian	{
	margin:0;
	padding:10px;
	font-family: 'Liu Jian Mao Cao', cursive;
	font-size:50px;
	background-color: #66CDAA;
	color: #FFFFFF;
}
